<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:elasticsearch="http://www.springframework.org/schema/data/elasticsearch"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/elasticsearch
		http://www.springframework.org/schema/data/elasticsearch/spring-elasticsearch-1.0.xsd ">
	<!-- 扫描service层 -->
	<context:component-scan base-package="cn.itheima.service" />

	<!--elasticSearch的扫描 -->
	<elasticsearch:repositories base-package="cn.itheima.dao" />

	<!--配置elasticSearch的client端 -->
	<elasticsearch:transport-client id="client" cluster-nodes="localhost:9300" />
	<!--springdata elasticSearch dao 必须依赖elasticSeachTemplate -->
	<bean id="elasticsearchTemplate" class="org.springframework.data.elasticsearch.core.ElasticsearchTemplate">
		<constructor-arg name="client" ref="client"/>
	</bean>
</beans>